*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    position: relative;
    top: 40px;
    left: 200px;
    height: 700px;
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 700px;
}

.main h2{
    color: blue;
}

.main .allBtns{
    padding: 40px;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 20px;
}
.allBtns button{
    height: 30px;
    width: 100px;
    border-radius: 5px;
}
.hero img{
    height: 150px;
    width: 150px;
}